<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>12000000</particles>
  <batches>200</batches>
  <inactive>80</inactive>
  <temperature_default>900</temperature_default>
  <temperature_method>interpolation</temperature_method>
  <temperature_range>800 1000</temperature_range>
</settings>
